html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, del, em, font, img, ins, q, s, samp, small, strong, sub, sup, tt, var, b, u, i, center,form, label, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0 none; outline: 0;font-size: 100%;vertical-align: baseline;}
body {line-height: 1.5; }
table {border-collapse: separate;border-spacing:1px;}
blockquote, q {quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
.clear{clear: both;}

/* default */
html{font:0.9em Verdana,Arial, sans-serif;}
body{background-color: #e4e4e4;color:#000;}
div{word-wrap: break-word; word-break: normal;}
a { color:#6E747B; text-decoration:none; }
	a:hover { color:#000;text-decoration:underline;}
	/* a:focus, input:focus {outline-style:none; outline-width:medium; } */
th, td {padding:5px;}
th { color:#fff;border-top:1px solid #000; background: url('../images/bk_dark_line.png');background-color:#444; }
td { background:#fff; text-align:left;}
ul{padding:0;margin:12px 2px 12px 40px;}
fieldset{border: 1px solid #003333;width:90%;margin:0;padding: 5px;}
.legend{font-weight: bold;padding:5px;}
input{padding:6px 8px;margin:1px;background-color: #FFF;color:#000;border: 1px solid #003333;}
input[type="checkbox"],input[type="radio"]{padding:2px;background: transparent;color:#000;border: none;}
input[type="button"],input[type="submit"]{border: 1px solid #000;background-color: #286FA2;color:#fff;}
input[type="text"],input[type="password"]{width:200px;}
textarea{background-color: #FFF;color:#000;border: 1px solid #003333;width:90%;height:400px;padding:5px;}
.smallTA{background-color: #FFF;color:#000;border: 1px solid #003333;width:70%;height:200px;padding:5px;}
.hide{display: none;}
.wide300{width:300px;}

.aButton{display: inline-block; color:#fff;padding:3px 10px; border: 1px solid #fff;background-color: #286FA2;}
.aButton:hover { color:#fff;text-decoration:none; background-color: #1F5982;}
.aButtonUn{display: inline-block; color:#999;padding:3px 10px; border: 1px solid #bbb;background-color: #eee;}
.aButtonUn:hover { color:#999;text-decoration:none; background-color: #eee;}
/*layout*/
#header{ color:#FFF; background-color: #393939;padding:10px;border: 1px solid #000;}
#header h1{ color:#FFF; padding:0 25px;display: inline;font-size: 160%;}
#header a{color:#ccc;}
#header a:hover { color:#fff;text-decoration:none; }
#sideNav{width:180px;float:left;color:#393939;background-color: #F7F7F7;border-right: 1px solid #C5C5C5;}
#sideNav div{background-color: #eee;}
#sideNav a{display:block;width:100%;}
#sideNav a:hover{color:#8080ff;}
#sideNav div{padding:8px;padding-left: 24px;font-weight: bold;border-bottom: 1px solid #D6D6D6;border-top: 1px solid #FCFDFD;}

#mainContent{padding:10px 20px 0 190px;}

#footer{background-color: #393939;padding:10px;}
#copyright{text-align:center;color:#E8E8E8;}

#consoleLogin{color:#e4e4e4;padding:30px;background-color: #272D3B;}
#consoleLogin p{padding:5px 0;}
#consoleLogin label.error{color:red;width:300px;text-align:right;display:block;}
/* console */
#rightTop{padding:5px;}
#f_search{display:inline;}
#list_search{width:250px;}
.tb_list{background-color: #fff;border-bottom: 1px solid #e4e4e4;padding:10px;}
/* classes */
input.error,textarea.error{ border: 1px dotted red; }
label.error{color:red;width:300px;text-align:left;display:block;}
.tx_center{text-align:center;}
.red{color:red;}
.bold{font-weight: bold;}
.txtRight{text-align: right;}
.txtLeft{text-align: left;}
.gray{color:#bbb;}
.orangeBold{color:#ff8040;font-weight: bold;}
.blueBold{color:#8080ff;font-weight: bold;}
.blue{color:#8080ff;}
.greenBold{color:#25ac1e;font-weight: bold;}
.purpleBold{color:#e316e3;font-weight: bold;}
.re{background-color: #fbf9ea;border: 1px solid red;padding:20px;}
.hotEditTA{height:100px;}
.fullA{display:block;width:100%;}
.inBox{margin-top: 10px;width:90%;padding:5px 10px;border: 1px solid #aaa;background-color:#F7F7F7;}
.inBoxTitle{padding:5px;border-bottom: 1px dotted #aaa;font-weight: bold;}
.inBoxContent{padding:15px 5px;}
.inBoxLine{padding-bottom:10px;}
.normal{font-weight: normal;}
.phone{font-size: 12px;border: 1px solid #000;padding:2px 5px;display: inline-block;background-color:#d26900;color:#FFF; font-weight: bold;margin:3px;}
.phone1{background-color:#B913B9;}
.phone:hover {color:#fff;text-decoration:none; background-color: #1F5982; }
/*fontsize set to 13px fix NOT in line on IE*/
.phoneCate{line-height: 30px;padding:3px 7px;vertical-align:top;font-size:13px;background-color:#eee;color:#1F5982;margin:0;border: 1px solid #1F5982;border-left:none;}

.okBT{width:60px;text-align: center;}

.sideON{color:#8080ff;font-weight: bold;}
.search{padding:5px;}
.table_list td{text-align: center;}

.file_upload{border-top: 1px solid #ccc;background-color:#f7f7f7;padding:10px;width:90%;}
.file_upload_ERR{color:red;}
.files_name{display:none;}
/* pageNav */
 .pageNum{border: 1px solid #999;padding:2px 8px;display: inline-block;}
 .cPageNum{font-weight: bold;padding:2px 5px;}
 #pageNav a:hover{text-decoration:none;background: #fff4d8; }
 /* abox */
.abox{border: 1px solid #aaa;background: #FFF;}
.aboxTitle{background: url('../images/bk_dark_line.png') repeat-x;color:#FFF;padding:6px 10px;font-weight: bold;}
.aboxSub{padding:8px 20px;text-align:right;border-bottom: 1px dotted #ccc;font-size:12px;}
.aboxSub2{padding:8px 20px;text-align:right;border-top: 1px dotted #ccc;font-size:12px;}
.aboxContent{padding:26px;}
.aboxContent p{padding:5px 0;}
.reOk{background: url(../images/msg_green.png)  no-repeat;background-position: center left;padding-left:20px;}
.reErr{background: url(../images/msg_red.png)  no-repeat;background-position: center left;padding-left:20px;color:red;font-weight: bold;}
.reWarn{background: url(../images/msg_yellow.png)  no-repeat;background-position: center left;padding-left:20px;}
.reInfo{background: url(../images/msg_blue.png)  no-repeat;background-position: center left;padding-left:20px;}
.aboxBT{display: inline-block;zoom: 1; display: inline; padding:4px 15px; border: 1px solid #2B4A78;text-align: center;background-color: #EEE;}
#swfBT{padding:10px 10px 10px 0;font-size:12px;}
.swfupload{border: 1px solid #000;color:#fff;}

/*other*/
#paraName,#paraValue{width:100px;}
.paraOneName{font-weight: bold;}
.paraOneValue{color:blue;font-weight: bold;}
