{
	"version":1,
	"updates":{
		"2011-8-8":"始建此文件"
	},
	"info":"更改此文件的配置后，请对发生变化的Action执行reload操作",
	"classPath": "f:/works/workspace_keel/TestCenter/WebContent/WEB-INF/classes/",
	"iniPath": "f:/works/workspace_keel/TestCenter/WebContent/WEB-INF/",
	"dataSources":{
		"mongodb_local":{
			"_dbType":"mongodb",
			"ip":"127.0.0.1",
			"port":27017,
			"dbName":"tc",
			"user":"keel",
			"pwd":"jsGame_1810",
			"maxWaitTime":5000,
			"connectionsPerHost":30
		}
	},
	"daos":{
		"mongoDao":{
			"_class":"com.k99k.khunter.MongoDao",
			"_dataSource":"mongodb_local",
			"dbType":"mongodb",
			"type":"common",
			"tableName":"*",
			"id":1
		}	
	},
	"tasks":{
		"taskMapInitSize":50000,
		"exePool":{
			"corePoolSize":10,
			"maximumPoolSize":200,
			"keepAliveTime":30000,
			"queueSize":150
		},
		"ratePoolSize":5,
		"scheduledPoolSize":10
	},
	"actions":[
		{
			"_actName":"console",	
			"_class":"com.k99k.khunter.acts.ConsoleAction",
			"admin":[
				{"name":"keel","pwd":"6667441","level":1,"state":1,"info":"202.102.113.*"},
				{"name":"sike","pwd":"123456","level":2,"state":1,"info":"202.102.40.*"}
			]
		},
		{
			"_actName":"auth",	
			"_class":"com.k99k.testcenter.Auth"
		},
		{
			"_actName":"jspout",	
			"_class":"com.k99k.khunter.JSPOut",
			"ini":"tc.json"
		},
		{
			"_actName":"[root]",	
			"_class":"@auth",
			"info":"@开头的_class为引用,[root]为根目录"
		},
		{
			"_actName":"login",	
			"_class":"com.k99k.khunter.acts.ToJSPAction",
			"jspPath":"/WEB-INF/tc/login.jsp"
		},
		{
			"_actName":"news",
			"_class":"com.k99k.testcenter.News",
			"pageSize":10
		},
		{
			"_actName":"newsTask",
			"_class":"com.k99k.testcenter.NewsTask"
		},
		{
			"_actName":"upload",
			"_class":"com.k99k.testcenter.FileUpload",
			"savePath":"F:/works/workspace_keel/TestCenter/WebContent/file/"
		},
		{
			"_actName":"end",
			"_class":"com.k99k.testcenter.End"
		}
	],
	"io":{
		"emails":{
			"server":"202.102.111.111"
		}
	}


}
