{
	"version":1,
	"updates":{
		"2011-8-8":"始建此文件"
	},
	"info":"注意数据库需要增加以下index: db.TCUser.ensureIndex({'unReadTasks':1});db.TCTopic.ensureIndex({'tags':1})",
	"classPath": "e:/workspace/TestCenter/WebContent/WEB-INF/classes/",
	"iniPath": "e:/workspace/TestCenter/WebContent/WEB-INF/",
	"dataSources":{
		"mongodb_local":{
			"_dbType":"mongodb",
			"ip":"127.0.0.1",
			"port":27017,
			"dbName":"tc4",
			"user":"keel",
			"pwd":"jsGame_1810",
			"maxWaitTime":5000,
			"connectionsPerHost":30
		}
	},
	"daos":{
		"mongoDao":{
			"_class":"com.k99k.khunter.MongoDao",
			"_dataSource":"mongodb_local",
			"dbType":"mongodb",
			"type":"common",
			"tableName":"*",
			"id":1
		}	
	},
	"tasks":{
		"taskMapInitSize":50000,
		"exePool":{
			"corePoolSize":20,
			"maximumPoolSize":500,
			"keepAliveTime":30000,
			"queueSize":300
		},
		"ratePoolSize":5,
		"scheduledPoolSize":10
	},
	"actions":[
		{
			"_actName":"console",	
			"_class":"com.k99k.khunter.acts.ConsoleAction",
			"admin":[
				{"name":"keel","pwd":"6667441","level":1,"state":1,"info":"202.102.113.*"},
				{"name":"sike","pwd":"123456","level":2,"state":1,"info":"202.102.40.*"}
			]
		},
		{
			"_actName":"auth",	
			"_class":"com.k99k.testcenter.Auth"
		},
		{
			"_actName":"jspout",	
			"_class":"com.k99k.khunter.JSPOut",
			"ini":"tc.json"
		},
		{
			"_actName":"[root]",	
			"_class":"@auth",
			"info":"@开头的_class为引用,[root]为根目录"
		},
		{
			"_actName":"login",	
			"_class":"com.k99k.khunter.acts.ToJSPAction",
			"jspPath":"/WEB-INF/tc/login.jsp"
		},
		{
			"_actName":"news",
			"_class":"com.k99k.testcenter.News",
			"pageSize":20
		},
		{
			"_actName":"user",
			"_class":"com.k99k.testcenter.TUser",
			"pageSize":20
		},
		{
			"_actName":"gamefile",
			"_class":"com.k99k.testcenter.GameFile",
			"path":"e:/workspace/TestCenter/WebContent/gamefiles/"
		},
		{
			"_actName":"newsTask",
			"_class":"com.k99k.testcenter.NewsTask"
		},
		{
			"_actName":"tTaskTask",
			"_class":"com.k99k.testcenter.TTaskTask"
		},
		{
			"_actName":"upload",
			"_class":"com.k99k.testcenter.FileUpload",
			"savePath":"e:/workspace/TestCenter/WebContent/gamefiles/",
			"tempSavePath":"e:/workspace/TestCenter/WebContent/temp/"
		},
		{
			"_actName":"download",
			"_class":"com.k99k.testcenter.Download",
			"downPath":"e:/workspace/TestCenter/WebContent/file/"
		},
		{
			"_actName":"phone",
			"_class":"com.k99k.testcenter.Phone"
		},
		{
			"_actName":"company",
			"_class":"com.k99k.testcenter.Company",
			"pageSize":30
		},
		{
			"_actName":"product",
			"_class":"com.k99k.testcenter.Product",
			"pageSize":20
		},
		{
			"_actName":"testUnit",
			"_class":"com.k99k.testcenter.TestUnit"
		},
		{
			"_actName":"tasks",
			"_class":"com.k99k.testcenter.TTask",
			"pageSize":20
		},
		{
			"_actName":"tcase",
			"_class":"com.k99k.testcenter.TestCase"
		},
		{
			"_actName":"comm",
			"_class":"com.k99k.testcenter.Comm",
			"pageSize":10
		},
		{
			"_actName":"topic",
			"_class":"com.k99k.testcenter.Topic",
			"pageSize":30
		},
		{
			"_actName":"sms",
			"_class":"com.k99k.testcenter.SMS"
		},
		{
			"_actName":"email",
			"_class":"com.k99k.testcenter.EMail",
			"server":"smtp.189.cn",
			"from":"15301588025@189.cn",
			"port":25,
			"user":"15301588025@189.cn",
			"pwd":"6667441"
		},
		{
			"_actName":"egame",
			"_class":"com.k99k.testcenter.EGame",
			"companyUrl":"http://202.102.39.9:82/Business/entitytest/cps.do?a=1",
			"productUrl":"http://202.102.39.9:82/Business/entitytest/products.do?startIndex=0&pageSize=1",
			"handsetUrl":"http://202.102.39.9:82/Business/entitytest/models.do?a=1",
			"feeUrl":"http://202.102.39.9:82/Business/entitytest/consumecodes.do"
		},
		{
			"_actName":"egameFtp",
			"_class":"com.k99k.testcenter.EGameFtpSynTask",
			"ip":"202.102.39.x14",
			"port":21,
			"user":"shitibao",
			"pwd":"shitibao123",
			"localPath":"e:/workspace/TestCenter/WebContent/gamefiles/"
		},
		{
			"_actName":"ana",
			"_class":"com.k99k.testcenter.Analysis"
		},
		{
			"_actName":"admin",
			"_class":"com.k99k.testcenter.Admin"
		},
		{
			"_actName":"end",
			"_class":"com.k99k.testcenter.End"
		}
	],
	"io":{
		"emails":{
			"server":"202.102.111.111"
		}
	}


}
